<html>
<%= stylesheet_link_tag "upload", :media => "all" %>
<%= stylesheet_link_tag "application", :media => "all" %>
<head>
  <a href="home">Back to the main site</a>
</head>
<body>
<%= form_tag '/process', multipart: true do %>
  <p></p>
  <%= file_field 'Resource', :file ,class: "formbutton" %>
  <p>Type of Resource: </p>
  <%= select_tag :type_of_resource ,options_for_select([['Awards'], ['Fundraising'], ['Outreach'], ['Mechanical'], ['Programming'], ['Electrical']]) %>
  <p></p>
  Descripton:
  <p></p>
  <%= text_area_tag :description %>
  <p></p>
  <%= submit_tag "Submit", class: "formbutton" %>
<% end %>
</body>
</html>
