<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Luke Crum">

    <title>FullCircle</title>
    <%= stylesheet_link_tag "bootstrap2.css", :media => "all" %>
    <%= stylesheet_link_tag "1-col-portfolio.css", :media => "all" %>
    <%= stylesheet_link_tag 'application.css', :media => "all"  %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand title" href="#">FullCircle</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link title" href="home"><b>Home</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link title" href="technical"><b>Technical</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link title" href="team_building"><b>Team Building</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link title" href="about_us"><b>About Us</b></a>
              </li>
            </ul>
          </div>
      </div>
  </nav>

<div class="container">
<div class="row">
  <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><%= image_tag "awards.jpeg", :class => "card-img-top"%></a>
      <div class="card-body">
        <h4 class="card-title title">
          <a><b>Awards</b></a>
        </h4>
        <% Resource.all.each do |resource| %>
        <% if resource.type_of_resource == 'Awards' %>
        <div class="col-md-10">
            <h5 class="card-title title"><b><%= resource.basename %></b></h5>
            <p><%= resource.description %></p>
            <%= button_to "Download", "/download?id=#{resource.id}", class: "btn btn-primary" %>
        </div>
        <p></p>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
  <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><%= image_tag "fundraising.jpg", :class => "card-img-top"%></a>
      <div class="card-body">
        <h4 class="card-title title">
          <a><b>Fundraising</b></a>
        </h4>
        <% Resource.all.each do |resource| %>
        <% if resource.type_of_resource == 'Fundraising' %>
        <div class="col-md-10">
            <h5 class="card-title title"><b><%= resource.basename %></b></h5>
            <p class="body_text"><%= resource.description %></p>
            <%= button_to "Download", "/download?id=#{resource.id}", class: "btn btn-primary" %>
        </div>
        <p></p>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><%= image_tag "outreach.jpg", :class => "card-img-top"%></a>
      <div class="card-body">
        <h4 class="card-title title">
          <a><b>Outreach</b></a>
        </h4>
        <% Resource.all.each do |resource| %>
        <% if resource.type_of_resource == 'Outreach' %>
        <div class="col-md-10">
            <h5 class="card-title title"><b><%= resource.basename %></b></h5>
            <p class="body_text"><%= resource.description %></p>
            <%= button_to "Download", "/download?id=#{resource.id}", class: "btn btn-primary" %>
        </div>
        <p></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</body>

</html>
